@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* header image and settings */

#header-back {
    height: 500px;
    width: 100%;
    background: url('../images/compressor.jpg');
    background-size: cover;
}
/* need to organise layout of profile pic*/

#profile-pic {

    width: 300px;
    height: 200px;
    background: url(../images/profile.jpg) no-repeat;
    background-size: contain;
}

#name {
    color: #fff;
    text-align: right;
    padding-top: 125px;
    padding-right: 650px;
    font-size: xx-large;
}

#quote{
    color: #fff;
    text-align: right;
    padding-top: 75px;
    padding-right: 600px;
    font-size: x-large;
}


/* navigation bar */

#contents {
    font-size: 110%;
    letter-spacing: 4px;
}

#contents li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#contents a {
    text-decoration: none;
    color: inherit;
}

#contents a:hover{
    border-bottom: 1px solid #3a3a3a;
}