@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: black;
}

/* header image and settings */

#header-back {
    height: 450px;
    width: 100%;
    background: url('../images/background-1.jpg');
    background-color: black;
    background-size: cover;
    position: relative;
}

#profile-border {
    float: left;
    width: 350px;
    height: 350px;
    border-style: solid;
    border-color: #ccc;
    border-width: 0;
    border-radius: 50%;
    margin: 30px auto;
    margin-left: 10%;
}

#profile-pic {
    background: url("../images/profile-1.png") no-repeat center center;
    height: 100%;
    border-radius: 50%;
    animation-name: profile-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards; 
}

/* creates the level of zoom for the profile picture */
@keyframes profile-zoom {
    from {
        transform: scale(.5);
    }
    to {
        transform: scale(1);
    }
}

/* header text settings */
#name {
    color: #fff;
    text-align: left;
    font-size: xx-large;
    top: 120px;
    right: 0;
    position: absolute;
    width: 60%;
    float: right;
}

#name h2 {
    padding-top: 10px;
    opacity: 0;
    animation: name1 1s ease-out 0.75s forwards;
}

#name h3, #name p {
    opacity: 0;
    padding-top: 40px;
    color: #fff;
    font-size: x-large;
    animation: name1 3s ease-out 1.5s forwards;
}

@keyframes name1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }  
}

/* navigation bar for all pages*/
#menu {
    position: absolute;
    bottom: 0;
    right: 0;    
    width: 100%;
}

#contents li {
    color:#fff;
    float: left;
    list-style-type: none;
    text-align: center;
    width: 16%;
    padding-bottom: 1%;
    box-sizing: border-box;
    font-size: 20px;
}

#contents a {
    text-decoration: none;
    color: inherit;
}

#contents a:hover{
    border-bottom: 1px solid #fff;
    padding: 5px;
}

.active {
    border-bottom: 1px solid #fff;
    padding: 5px;
}

/*Main body formatting for all pages except about/contact page */
.mainbody, .mainbody1, .mainbody2 {
    min-height: 700px;
    width: 100%;
    background: url('../images/mbody.jpg');
    background-color: #ffc756a1;
    background-size: cover;
    position: relative;
    color: black;
}

/* footer background and settings */
#footer {
    height: 65px;
    width: 100%;
    bottom: 0;
    background: url('../images/background-1.jpg');
    background-size: cover;
    color: #fff;
}

#social-networks li {
    color:#fff;
    float: left;
    list-style-type: none;
    text-align: center;
    width: 33%;
    padding-bottom: 1%;
    margin-top: 10px;
    box-sizing: border-box;
    font-size: large;
}

.fab {
    color: #fff;
    font-size: x-large;
}

/*formatting for the About Me page */
.aboutme {
    padding-left: 10%;
}

.aboutme p {
    color: black;
    float: left;
    text-align: left;
    width: 80%;
    font-size: 20px;
    padding: 20px 0 10px 0;
    text-indent: 10px;
}

.aboutmeskill li {
    color: black;
    float: left;
    text-align: justify;
    font-size: 20px;
    padding-left: 15%;
    padding-top: 10px;
    width: 70%;
}

.aboutmeskill li i {
    padding-right: 15px;
}

/* the styling for the experience and affiliations pages accordion text items */
.mainbody h1, .mainbody1 h1, .mainbody2 h1 {
    display: flex;
    justify-content: center;
    padding: 10px;
    background: url("../images/mbody2.jpg");
    font-weight: bold;
    font-size: xx-large;
    color: white;
    text-shadow: 1px 0 0 black, 1px 0 0 black, 1px 0 0 black, 1px 0 0 black;
    border: 2px solid black;
    text-decoration: underline;
}

.tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
   
.tab {
    width: 100%;
    color: #ebebeb;
    overflow: hidden;
    margin: 5px;
    border: 2px solid black;
    width: auto;
}

.tab-label {
    display: flex;
    justify-content: center;
    padding: 10px;
    background: url("../images/mbody2.jpg");
    font-weight: bold;
    font-size: x-large;
    text-shadow: 1px 0 0 black, 1px 0 0 black, 1px 0 0 black, 1px 0 0 black;
}

.tab-content {
    max-height: 0;
    padding: 0 1em;
    color: black;
    transition: all .35s;
    display: flex;
    flex-direction: row;
}

.logo {
    padding-left: 50px;
    padding-top: 20px;
    width: 25%;
    text-align: center;
}
  
.responsibilities, .details {
    padding: 10px 0 10px 20px;
    width: 75%;
}

input[type="checkbox"]:checked + .tab-label {
    background: url("../images/mbody2.jpg");
}

input[type="checkbox"]:checked ~ .tab-content {
    max-height: 200vh;
    padding: 1em;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

/*Certificate page formatting */
.grid-container {
    width: 100%;
    display: grid;
    text-align: center;
    grid-row-start: auto;
    grid-template-columns: 35% 65%;
    border-bottom: 1px solid black;
    align-items: center;
}

.grid-item {
    padding-top: 10px;
    padding-bottom: 10px;
} 
.grid-item a i {
    padding: 0 60px 0 20px;
}

#certdetails1 a, #certdetails2 a, #certdetails3 a, #certdetails4 a, #certdetails5 a, #certdetails6 a, #certdetails7 a {
    text-decoration: none;
    color: inherit;
    left: 100%;
}

#certdetails1, #certdetails2, #certdetails3, #certdetails4, #certdetails5, #certdetails6, #certdetails7 {
    text-align: left;
}

 /* specific content formatting for affiliations page */
.disclaimer {
    text-align: center;
    padding: 10px;
}

/* Portfolio page formatting */
#under_construction {
    width: 60%;
    padding-left: 20%;
}

/* Contact page formatting */
.mainbody1 {
    min-height: 700px;
    width: 100%;
    background: url('../images/mbody.jpg');
    background-color: #ffc756a1;
    background-size: cover;
    position: relative;
    color: black;
}

.contact-form {
    margin: 50px 10% 0 0;
    color: white;
    background: url("../images/mbody2.jpg");
    max-width: 50%;
    position: absolute;
    left: 35%;
    padding: 30px;
}

.contact-form h2 {
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"], input[type="email"], input[type="tel"] {
    color: black;
    background: url("../images/mbody.jpg");
    width: 95%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

input[type="text"], input[type="email"], input[type="tel"]:hover {
    border-color: #f16c6b;
    background: url("../images/mbody.jpg");
}

textarea {
    color: black;
    background: url("../images/mbody.jpg");
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px; 
    resize: none; 
    width: 95%;  
}

.contact {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #d17600;
    color: #fafafa;
    display: inline-block;
}

.contact:hover {
    background-color: #fafafa;
    color: #d17600;
}

/* media styles for standard enterprise tablets */
@media screen and (max-width:1200px) {

    .mainbody, .mainbody1, .mainbody2 {
        min-height: 850px;
    }

    .contact-form {
        left: 25%;
    }

    #menu {
        width: 90%;
    }
}

/* media styles for standard generic tablets */
@media only screen and (max-width:1000px) {

/* Header image and settings for max width 1000px */
    #header-back {
        height: 600px;
        width: 100%;
    }

    #profile-pic {
        background: url("../images/profile-1.png") no-repeat center center;
        height: 100%;
        width: 85%;
        border-radius: 50%;
        animation-name: none;
        overflow: hidden;
        padding-left: 5%;
    }

    #name {
        font-size: 18px;
        padding-left: 50px;
        left: 42%;
        width: 40%;
    }

    #name h3, #name p {
        font-size: 16px;
    }

/* Navigation bar for all pages for max width 1000px*/
    #menu {
        grid-template-columns: 3;
        left: 2%;
    }

    #contents li {
        padding: 5px 10px 20px 5px;
        float: left;
        list-style-type: none;
        text-align: center;
        margin: 5px;
        background: url("../images/mbody2.jpg");
        box-sizing: border-box;
        font-size: 20px;
        width: 30%;
    }

    #contents a {
        font-size: 18px;
    }

/* Main body formatting for all pages except contact/about page for max width 1000px */
    .mainbody {
        min-height: 1200px;
    }

/* Footer background and settings for max width 1000px */
    #footer {
        height: 65px;
        width: 100%;
    }

/* Formatting for the About Me page for max width 1000px */
    .aboutme {
        padding-left: 5%;
        padding-right: 0;
    }

    .aboutmeskill li {
        color: black;
        float: left;
        padding: 10px 0 10px 10%;
        text-align: left;
    }

    .aboutme p {
        text-indent: none;
        font-size: 18px;
    }
    
    .mainbody2 {
        min-height: 800px;
    }

/* Styling for the experience and affiliations pages accordion text items for max width 1000px */
    .tab-content {
        flex-direction: column;
    }
  
    .responsibilities, .details {
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: none;
        position: relative;
        height: auto;
    }

/* Certificate page formatting for max width 1000px */
    .grid-container {
        grid-template-columns: 100%;
        text-align: center;
    }

    .grid-item {
        padding-left: 20px;
    }

/* Contact page formatting for max width 1000px */
    .contact-form {
        max-width: 80%;
        left: 5%;
        padding: 10px;
    }
}

/* Settings for mobile phones */
@media only screen and (max-width:700px) {

    /* Header image and settings for max width 700px */
    #header-back {
        height: 800px;
        width: 100%;
    }

    #profile-pic {
        background: url("../images/profile-1.png") no-repeat center center;
        height: 100%;
        width: 85%;
        border-radius: 50%;
        animation-name: none;
        overflow: hidden;
        padding-left: 0;
    }

    /* Header text settings for max width 700px */
    #name {
        text-align: center;
        font-size: large;
        top: 120px;
        float: center;
        width:80%;
        padding-left: 30px;
        animation: none;
        left: 0;
    }

    #name h2 {
        padding-top: 300px;
        animation: none;
        opacity: 100%;
    }

    #name h3, #name p {
	    opacity: 100%;
        font-size: medium;
        padding-right: 30px;
        animation: none;
    }

    /* Navigation bar for all pages for max width 700px */
    #menu {
        grid-template-columns: 2;
        left: 35px;
    }

    #contents li {
        padding: 5px 15px 3% 20px;
        float: left;
        list-style-type: none;
        text-align: center;
        padding: 5px 15px 3% 15px;
        margin: 5px;
        background: url("../images/mbody2.jpg");
        box-sizing: border-box;
        font-size: 20px;
        width: 40%;
    }

    #contents a {
        font-size: 16px;
    }

    /* Main body formatting for all pages except contact/about page for max width 700px */
    #mainbodymobile {
        min-height: 400px;
    }
    .mainbody {
        min-height: 1200px;
    }
    .mainbody1 {
        min-height: 800px;
    }
    .mainbody2 {
        min-height: 1000px;
    }

    .mainbody h1, .mainbody1 h1, .mainbody2 h1 {
        font-size: large;
    } 

    /* Footer background and settings for max width 700px */
    #footer {
        height: 65px;
        width: 100%;
    }

    /* Formatting for the About Me page for max width 700px */
    .aboutmeskill li {
        color: black;
        float: left;
        padding: 10px 0 10px 10%;
        text-align: left;
    }

    .aboutme p {
        text-indent: none;
        font-size: 16px;
    }
    .aboutmeskill li {
        font-size: 16px;
    }

    /* The styling for the experience and affiliations pages accordion text items for max width 700px */
    .tab-content {
        flex-direction: column;
    }

    .tab-label {
        font-size: large;
    }
    
    .responsibilities, .details {
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: none;
        position: relative;
        min-height: auto;
        font-size: 14px;
    }

    /* Certificate page formatting for max width 700px */
    .grid-container {
        grid-template-columns: 100%;
        text-align: center;
    }

    .grid-item {
        padding-left: 20px;
    }

/* Contact page formatting for max width 700px */
    .contact-form {
        max-width: 80%;
        left: 5%;
        padding: 10px;
    }
}
